In [ ]:
import sqlite3
conn = sqlite3.connect('quiz.sqlite')
c = conn.cursor()
import matplotlib.pyplot as plt
import pandas as pd

query = """
    SELECT "Player Name", Position
    FROM "quiz"
    WHERE Position = 'GKP'
    ORDER BY Player Name ASC
"""
c.execute(query)

rows = c.fetchall()
for row in rows:
    print("ფეხბურთელი:", row[0], "| პოზიცია:", row[1])

In [ ]:
# ფეხბურთელები, რომლებსაც 1000 წუთზე მეტი უთამაშიათ

query1 = """
SELECT "Player Name", Position, Minutes
FROM "quiz"
WHERE Minutes >= 1000
ORDER BY Player Name ASC


"""

c.execute(query1)

row1 = c.fetchall()
for row in row1:
    print("ფეხბურთელი:", row[0], "| პოზიცია:", row[1], "წუთები ნათამაშები:", row[2])

In [ ]:
# ფეხბურთელები, რომლებიც ესპანელები არიან

query2 = """
SELECT "Player Name", Nationality
FROM "quiz"
WHERE Nationality = "Spain"
Order BY Player Name ASC
"""
c.execute(query2)

row2 = c.fetchall()

for row in row2:
    print("ფეხბურთელი:", row[0], "ეროვნება:", row[1])

In [ ]:
# მომხმარებლისგან მონაცემების მიღება
Player = input("შეიყვანეთ ფეხბურთელის სახელი: ")
Club = input("შეიყვანეთ კლუბი: ")
positionn = input("შეიყვანეთ პოზიცია: ")

# # ვამატებთ ახალ ჩანაწერს ცხრილში
insert_query = """
    INSERT INTO "quiz" ("Player Name", Club, Position)
    VALUES (?, ?, ?)
"""
c.execute(insert_query, ("Player Name", Club, Position))
conn.commit()  # რომ აისახოს ბაზაში ცვლილებები

In [ ]:
# მომხმარებლისგან ვიღებთ ინფორმაციას განახლებისთვის
Player = input("შეიყვანეთ ფეხბურთელის სახელი, რომლის ჩანაწერის განახლება გსურთ: ")
Club = input("შეიყვანეთ ახალი კლუბის სახელი:")
positionn = input("შეიყვანეთ ახალი პოზიცია:")
update_query = """
    UPDATE "quiz"
    SET  "Club" = ?, "Position" = ?
    WHERE Player= ?
"""
# ბრძანების შესრულება მომხმარებლის მიერ შეყვანილი მონაცემებით
c.execute(update_query, (new_Player, new_club, new_positionn))
conn.commit()

In [ ]:
#მომხმარებლისგან ვიღებთ ფეხბურთელს, რომლის ჩანაწერი წაიშლება.
player_to_delete = input("შეიყვანეთ ფეხბურთელის სახელი, რომლის ჩანაწერის წაშლა გსურთ: ")
#ფეხბურთელის სახელის მიხედვით ცხრილიდან იშლება ფეხბურთელი.
delete_query = """
    DELETE FROM "quiz"
    WHERE Player = ?
"""

c.execute(delete_query, (player_to_delete,))
conn.commit()

In [ ]:
# ავირჩიოთ  5 ფეხბურთელი ყველაზე მეტი წითელი ბარათით
query_redcards = """
    SELECT Player, "Red Cards"
    FROM "quiz"
    WHERE "Red Cards" IS NOT NULL
    ORDER BY "Red Cards" DESC
    LIMIT 5
"""
df = pd.read_sql_query(query_migrants, conn)#პანდასით დატაფრეიმად გარდაქმნა.
#სვეტური დიაგრამის აგება
plt.figure(figsize=(10, 6))
plt.bar(df['Country'], df['Migrants (net)'], color='orange')
plt.title('5 ქვეყანა ყველაზე მეტი მიგრანტით')
plt.xlabel('ქვეყანა')
plt.ylabel('მიგრანტების რაოდენობა')
plt.grid(True)
plt.show()